.container
  .info
    h1 Paws Login Form
    
.form
  .thumbnail
    img(src='DOG PAW_FINAL-PNG.png')
  form.register-form
    input(type='text', placeholder='name')
    input(type='password', placeholder='password')
    input(type='text', placeholder='email address')
    button create
    p.message Already registered? 
      a(href='#') Sign In
  form.login-form
    input(type='text', placeholder='username')
    input(type='password', placeholder='password')
    button login
    p.message Not registered? 
      a(href='#') Create an account
      
